@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*, *::before, *::after {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

:root {
    --dark-blue-saturated: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);
    --very-dark-graish-blue: hsl(237, 12%, 33%);
    --dark-grayish-blue: hsl(240, 6%, 50%);
    --light-grayish-blue: hsl(240, 5%, 91%);
}

html {
    height: 100%;
    font-size: 62.5%;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    min-height: 100%;
    display: block;
    font-size: 12px;
}

.container {
    display: grid;
    grid-template: 1fr 40px / 1fr;
    background: linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%)) no-repeat fixed;
}

.container__footer {
    text-align: center;
}

.card {
    position: relative;
    border-radius: 10px;
    background-color: white;
    padding: 13.5rem 2rem 5rem 2rem;
    margin: 14rem 2rem 2rem 2rem;
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}

.accordion-card__title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 3rem;
}

.card__top-image {
    position: absolute;
    left: 45%;
    top: -10px;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.card__top-image-shadow {
    position: absolute;
    left: 45%;
    top: -5px;
    transform: translateX(-45%);
}

.accordion {
    border-bottom: 1px solid var(--light-grayish-blue);
}

.accordion__summary {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;
    font-size: 1.325rem;
    color: var(--very-dark-graish-blue);
}

.accordion__summary.selected {
    font-weight: 700;
}

.accordion__details {
    color: var(--dark-grayish-blue);
    font-weight: 400;
    font-size: 1.2rem;
    margin-right: 4rem;
    height: 0;
    overflow-y: hidden;
    transition: 0.2s ease-in-out;
}

.accordion__details.hidden {
    margin-bottom: 1.5rem;
}

.accordion__arrow {
    transition: 0.2s ease-in-out;
}

.accordion__arrow.selected {
    transform: rotate(-180deg);
}